<a href="/dashboard/new-job/{{user_id}}">Post a new job</a>

<!-- Recruiter's jobs that they have posted -->
<div class="job-list">
    {{#each jobs as |job| }} 
        {{>job-block}}
        <!-- insert candidate list link here-->
    {{/each}}
</div>

