<a class="post-job" href="/dashboard/new-job/{{user_id}}">Post a new job</a>
<!-- Recruiter's jobs that they have posted -->
<div class="job-list">
    {{#each jobs as |job| }} 
        {{>job-block user_type=../user_type}}
        <!-- insert candidate list link here-->
    {{/each}}
</div>

<!--CSS IS FINISHED-->