<!-- Hero Section --> 
        <div class="container-hero-awards">      
            <div class="hero">
                <h2>Recruiters you can trust</h2> 
                <p>Let us match you with the best professionals in your field.  We look at the big picture, consider every detail, and find the perfect candidates for every client.</p> 
            </div>
<!-- Company Awards 5 Years in a Row -->        
            <div class="awards">
                <div>
                <h3>Voted Best Recruiters for 5 Years Running!</h3>
                </div>
                <img class="award-1" src="/images/award-2019.png" width="150px" height="150px" alt="Business award icon 2019.">
                <img class="award-2" src="/images/award-2020.png" width="150px" height="150px" alt="Business award icon 2020.">
                <img class="award-3" src="/images/award-2021.png" width="150px" height="150px" alt="Business award icon 2021.">
                <img class="award-4" src="/images/award-2022.png" width="150px" height="150px" alt="Business award icon 2022.">
                <img class="award-5" src="/images/award-2023.png" width="150px" height="150px" alt="Business award icon 2023.">
            </div>
        </div>
<!-- Images of Headhunters -->        
        <div class="container-images">
            <div>
                <img class="hunter-1" src="/images/charlesdeluvio-K4mSJ7kc0As-unsplash.jpg" width="275px" height="375px" alt="Ugly black pug wearing denim jacket."><br>
                <p class="job">Web Hunters CEO</p>
                <p class="name">P. Brain McPuggy</p>
            </div>
            <div>
                <img class="hunter-2" src="/images/mad-scientist-7512538_1280.jpg" width="275px" height="375px" alt="Old man crazy scientist wearing glasses and scientific head gear."><br>
                <p class="job">Web Hunters Science Industry</p>
                <p class="name">Uncle Stank Williams</p>
            </div>
            <div>
                <img class="hunter-3" src="/images/eyasu-etsub-eiC19xZt0G0-unsplash.jpg" width="275px" height="375px" alt="Profile of masked hacker wearing all black and holding roses."><br>
                <p class="job">Web Hunters Tech Industry</p>
                <p class="name">Hacker Cunningham</p>
            </div>
            <div>
                <img class="hunter-4" src="/images/ben-wicks-Ns96HhR-b-c-unsplash.jpg" width="275px" height="375px" alt="Smiling colorful clown giving a thumbs up."><br>
                <p class="job">Web Hunters Business Industry</p>
                <p class="name">Joe Kerr</p>
            </div>
        </div>
