<body>
<!-- Header and Navigation -->
    <header>
        <img class="logo" src="public/images/logo.jpg" width="50px" height="50px" alt="Company logo.">
        <h1><span class="span-1">Web</span> <span class="span-2">Hunters</span></h1>
        <div class="nav">
            <a href="./layouts/login.handlebars">Login</a>
            <a href="./layouts/headhunter.handlebars">Headhunters</a>
            <a href="./layouts/dashboard.handlebars">Candidates</a>
            <a href="./layouts/resume.handlebars">Resume</a>
        </div>
    </header>
    <main>
<!-- Hero Section -->        
        <div class="hero">
            <h2>Recruiters you can trust</h2> 
            <h2>Recruiters you deserve</h2> 
            <p>Let us match you with the best professionals in your field.  We look at the big picture, consider every detail, and find the perfect candidates for every client.</p> 
        </div>
<!-- Images of Headhunters -->        
        <div class="container-images">
            <div>
                <img class="hunter-1" src="public/images/charlesdeluvio-K4mSJ7kc0As-unsplash.jpg" width="200px" height="300px" alt="Ugly black pug wearing denim jacket.">
                <p>Web Hunters CEO - P. Brain McPuggy</p>
            </div>
            <div>
                <img class="hunter-2" src="public/images/mad-scientist-7512538_1280.jpg" width="200px" height="300px" alt="Old man crazy scientist wearing glasses and scientific head gear.">
                <p>Web Hunters Science Industry - Looney CrazyPants</p>
            </div>
            <div>
                <img class="hunter-3" src="public/images/eyasu-etsub-eiC19xZt0G0-unsplash.jpg" width="200px" height="300px" alt="Profile of masked hacker wearing all black and holding roses.">
                <p>Web Hunters Tech Industry - Hacker Cunningham</p>
            </div>
            <div>
                <img class="hunter-4" src="public/images/ben-wicks-Ns96HhR-b-c-unsplash.jpg" width="200px" height="300px" alt="Smiling colorful clown giving a thumbs up.">
                <p>Web Hunters Business Industry - Jo Kerr</p>
            </div>
        </div>
    </main>
<!-- Footer with Group Name -->
    <footer class="group-logo">
        <h3>The Witty Webbers</h3>
    </footer>
</body>