<body>
<!-- Header and Navigation -->    
    <nav>
        <h1><span class="span-1">Web</span> <span class="span-2">Hunters</span></h1>
        <div class="nav">
            <a href="./layouts/main.handlebars">Home</a>
            <a href="./layouts/headhunter.handlebars">Headhunters</a>
            <a href="./layouts/dashboard.handlebars">Candidates</a>
            <a href="./layouts/resume.handlebars">Resume</a>
        </div>
    </nav>
    <main>
<!-- Login Form -->  
        <h2>Login</h2>  
        <form class="form login-form" action=" /login" method="post"> "<!-- action will need the url for backend -->
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" required><br><br>
            <button type="submit">Login</button><!--Submit buttons can add an Action set to "/submit", and can replace that with a url for backend -->
        </form>
<!--Logout Form -->
        <h2>Logout</h2>
        <form action=" /logout" method="post"> <!-- action will need the url for backend -->
            <button type="submit">Logout</button><!--Submit buttons can add an Action set to "/submit", and can replace that with a url for backend -->
        </form>    
    </main>
<!-- Footer with Group Name -->    
    <footer class="group-name">
        <h3>The Witty Webbers</h3>
    </footer>
</body>
