<div>Applying for {{job.title}}</div>
<!--Resume form -->
    <h2 class="resume-title">Create Your Resume</h2>
    <div class="resume">
        <h2>Create Your Resume</h2> 
        <form id="resume" job-id="{{job.id}}"> <!-- action will need the url for backend -->
<!-- Name -->        
            <label for="fullNmae">Full Name: </label><br>
            <input type="text" id="fullName" name="name" required><br><br>
<!-- Email -->
            <label for="email">Email: </label>
            <input type="email" id="email" name="email" required><br><br>
<!-- Phone -->
            <label for="phone">Phone: </label>
            <input type="tel" id="phone" name="phone" required><br><br>
<!-- Contact and Address -->
            <label for="address">Address Information: </label>
            <textarea id="address" name="address" rows="5" cols="50" required></textarea><br><br>
<!-- Experience -->
            <label for="experience">Work Experience: </label>
            <textarea id="experience" name="experience" rows="10" cols="100" required></textarea><br><br>
<!-- Education -->
            <label for="education">Education: </label>
            <textarea id="education" name="education" rows="10" cols="100" required></textarea><br><br>
<!-- Skills -->
            <label for="skills">Skills: </label>
            <textarea id="skills" name="skills" rows="10" cols="100" required></textarea><br><br>
<!-- Hobbies -->
            <label for="hobbies">Hobbies: </label>
            <textarea id="hobbies" name="hobbies" rows="4" cols="50" required></textarea><br><br>
<!-- Submit Button -->
            <button type="submit">Create Resume</button> <!--Submit buttons can add an Action set to "/submit", and can replace that with a url for backend -->
            <!--<button type="submit">Edit Resume</button>-->
        </form> 
    </div>
    <script src="/js/resume.js"></script>
