
<!--Resume form -->
    <div class="resume">
        <h2>Create Your Resume</h2> 
        <form action=" /submit" method="post"> <!-- action will need the url for backend -->
<!-- Name -->        
            <label for="fullNmae">Full Name: </label><br>
            <input type="text" id="fullName" name="fullName" required><br><br>
<!-- Email -->
            <label for="email">Email: </label><br>
            <input type="email" id="email" name="email" required><br><br>
<!-- Phone -->
            <label for="phone">Phone: </label><br>
            <input type="tel" id="phone" name="phone" required><br><br>
<!-- Experience -->
            <label for="experience">Work Experience: </label>
            <textarea id="experience" name="experience" rows="4" cols="50" required></textarea><br><br>
<!-- Education -->
            <label for="education">Education: </label>
            <textarea id="education" name="education" rows="4" cols="50" required></textarea><br><br>
<!-- Skills -->
            <label for="skills">Skills: </label>
            <textarea id="skills" name="skills" rows="4" cols="50" required></textarea><br><br>
<!-- Hobbies -->
            <label for="hobbies">Hobbies: </label>
            <textarea id="hobbies" name="hobbies" rows="4" cols="50" required></textarea><br><br>
<!-- Contact and Address -->
            <label for="contact">Address and Contact Information: </label>
            <textarea id="contact" name="contact" rows="4" cols="50" required></textarea><br><br>
<!-- Submit Button -->
            <button type="submit">Create Resume</button> <!--Submit buttons can add an Action set to "/submit", and can replace that with a url for backend -->
            <!--<button type="submit">Edit Resume</button>-->
        </form> 
    </div>
