<!-- New Job Form -->
    <div class="new-job-list"></div>
        <h2>Newest Job Listings</h1>
        <form action=" /dashboard/new-job" method="post">
<!-- Job Title -->
            <label class="new-job-title" for="jobTitle">Job Title: </label><br>
            <input type="text" id="jobTitle" name="jobTitle" required><br><br>
<!-- Company Name -->
            <label class="new-job-co-name" for="companyName">Company Name: </label><br>
            <input type="text" id="companyName" name="companyName" required><br><br>
<!-- Job Description -->
            <label class="new-job-desc" for="jobDescription">Job Description (Up to 5000 characters): </label>
            <textarea id="jobDescription" name="jobDescription" rows="4" cols="50" maxlength="5000" required></textarea><br><br>
<!-- Submit Button -->
            <button class="new-job-btn" type="submit">Submit</button>
        </form>
    </div>
