<body>
    <nav>
        <h1><span class="span-1">Web</span> <span class="span-2">Hunters</span></h1>
        <div class="nav">
            <a href="./layouts/main.handlebars">Home</a>
            <a href="./layouts/login.handlebars">Login</a>
            <a href="./layouts/headhunter.handlebars">Headhunters</a>
            <a href="./layouts/dashboard.handlebars">Candidates</a>
        </div>
    </nav>
    <main>

    </main>
    <footer class="group-name">
        <h3>The Witty Webbers</h3>
    </footer>
</body>