@font-face {
    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/marcellus/v13/wEO_EBrOk8hQLDvIAF81VvoK_kgXiQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --backgroundColor1: #212221;
    --backgroundColor2: #44449B;
    --backgroundColor3: #1181b2;
    --backgroundColor4: #ddedf4;
    --navBar: white;
    --titleColor: black;
    --footerColor: white;
    --buttonColor: hsl(26, 73%, 57%);
    --boxShadow: grey;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 5px;
    font-family: 'Marcellus', serif;
}

body {
    background-color: var(--backgroundColor4);
    min-height: 100vh;
}

/* Header Section containing logo, title and navigation links */
.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    padding: 10px;
    background-color: var(--navBar);
}

.header-logo {
    margin-right: 30px;
}

.header-title {
    margin-right: 50px;
}

.nav-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
}

.nav-links a {
    margin: 0 50px;
    font-size: 2em;
}
/*remove link underline and make it change color when hovered*/
a{
    color: var(--backgroundColor2);
    text-decoration: none;
}
a:hover{
    color: var(--buttonColor);
}

.span-1 {
    font-size: 3em;
}

.span-2 {
    font-size: 2em;
}

/* Hero Section containing message */
.container-hero-awards {
    display: flex;

}

.hero {
    background-color: var(--backgroundColor1);
    text-align: center;
    color: whitesmoke;
    flex: 1;
}

.hero h2, .hero p {
    font-size: 2em;
}

/* Awards Section containing message and award icons*/
.awards {
    background-color: var(--backgroundColor3);
    flex: 1;
    text-align: center;
    color: var(--buttonColor);
    font-size: 1.5em;
}

/* Headhunter Section containing images, job titles and names */
.container-images {
    background-color: var(--backgroundColor2);
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-job {
    font-size: 2em;
}

.container-name {
    font-size: 1.7em;
    color: var(--buttonColor);
}

.container-email {
    font-size: 1.3em;
}

.profile-image{
    max-width: 250px;
    max-height: 350px;
}

/* Sign-up and Login Sections */
.sign-log-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sign-up-form {
    background-color: var(--backgroundColor2);
    flex: 2;
    color: white;
    font-size: 1.5em;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1.0);
}

.form, .login-form {
    background-color: var(--backgroundColor3);
    flex: 1;
    color: white;
    font-size: 1.5em;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1.0);
}

.sign-log-title {
    text-align: center;
    font-size: 3em;
} 

/* New Resume Section */
.applying-for {
    font-size: 2em;
}

.resume-title, .new-job-list-title {
    text-align: center;
    margin-top: 20px;
    font-size: 3em;
}

.resume, .new-job-list {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 100px 100px;
    background-color: var(--backgroundColor2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1.0);
    color: white;
    font-size: 1.5em;
}

.resume label, .new-job-list label, .sign-up-form label, .login-form label {
    display: block;
    font-weight: 600;
}

.resume input, .new-job-list input, .sign-up-form input, .login-form input, .form-group select {
    font-size: 20px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
}

.resume textarea, .new-job-list textarea {
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
}

.resume button, .new-job-list button, .btn-primary,
.btn-sign-up {
    background-color: var(--buttonColor);
    color: white;
    font-size: 1.25em;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1.0);
}

/* job-block.handlebars */
.candidates, .job-block {
    padding: 10px;
}

.name, .job-title {
    font-size: 2.5em;
}

.custom-hr {
    border: none;
    background-color: #44449B;
    height: 2px;
    margin: 10px 0;
}

.candidate-list, .upload {
    font-size: 1.5em;
    color: maroon;
}

/* Job-page.handlebar Section */
.full-job-block-job {
    font-size: 3em;
}

.full-job-block-company {
    font-size: 2em;
}

.full-job-block-description, .full-job-block-date {
    font-size: 1.5em;
}

.alert {
    font-size: 1.5em;
    color: maroon;
    padding-bottom: 500px; /* Sets the footer to the bottom of page */
}

/* dashboard.handlebars and Job-page.handlebars APPLY*/
 .apply, .post-job {
    padding-bottom: 650px;
    display: inline-block;
    font-size: 1.5em;
    color: maroon;
 }

/* Footer Section containing group name */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    font-size: 1.5em;
    color: var(--buttonColor);
    position: absolute;
    width: 100%;
    height: 60px;
}

/* HOMEPAGE Media Query for Responsive Behavior max-width 857px */
@media (max-width: 857px) {
    .nav-links a {
        margin: 0 50px;
        font-size: 1.5em;
    }
}

/* HOMEPAGE Media Query for Responsive Behavior max-width 757px */
@media (max-width: 757px) {
    .nav-links a {
        margin: 0 50px;
        font-size: 1.3em;
    }
}

/* HOMEPAGE Media Query for Responsive Behavior max-width 737px */
@media (max-width: 737px) {
    .span-1 {
        font-size: 2.8em;
    }

    .span-2 {
        font-size: 1.8em;
    }
}

/* HOMEPAGE Media Query for Responsive Behavior max-width 716px */
@media (max-width: 716px) {
    .nav-links a {
            margin: 0 45px;
            font-size: 1.3em;
        }
}

/* HOMEPAGE Media Query for Responsive Behavior max-width 701px */
@media (max-width: 701px) {
    .span-1 {
        font-size: 2.5em;
    }
    
    .span-2 {
        font-size: 1.5em;
    }
}

/* HOMEPAGE Media Query for Responsive Behavior max-width 676px */
@media (max-width: 676px) {
    .nav-links a {
            margin: 0 35px;
            font-size: 1.3em;
        }
}

/* HOMEPAGE Media Query for Responsive Behavior max-width 647px */
@media (max-width: 647px) {
    .span-1 {
            font-size: 2.3em;
    }
    
    .span-2 {
        font-size: 1.3em;
    }
}

/* HOMEPAGE Media Query for Responsive Behavior max-width 611px */
@media (max-width: 611px) {
    .span-1 {
        font-size: 2em;
    }

    .span-2 {
        font-size: 1em;
    }
}

/* HOMEPAGE Media Query for Responsive Behavior max-width 596px */
@media (max-width: 596px) {
    .nav-links a {
        margin: 0 30px;
        font-size: 1.3em;
    }
}

/* HOMEPAGE Media Query for Responsive Behavior max-width 557px */
@media (max-width: 557px) {
    .span-1 {
        font-size: 1.8em;
    }

    .span-2 {
        font-size: 0.8em;
    }

    .nav-links a {
        margin: 0 25px;
        font-size: 1.3em;
    }
}

/* HOMEPAGE Media Query for Responsive Behavior max-width 521px */
@media (max-width: 521px) {
    .header-logo {
        margin-right: 20px;
    }
    .nav-links a {
        margin: 0 20px;
        font-size: 1.3em;
    }
}

/* HOMEPAGE Media Query for Responsive Behavior max-width 511px */
@media (max-width: 511px) {
    .header-logo {
        margin-right: 10px;
    }

    .hero h2, .hero p {
        font-size: 2em;
    }
}

/* HOMEPAGE Media Query for Responsive Behavior max-width 501px */
@media (max-width: 501px) {
    .span-1 {
        font-size: 1.6em;
    }
    
    .span-2 {
        font-size: 0.6em;
    }

    .nav-links a {
        margin: 0 15px;
        font-size: 1.3em;
    }
}

/* Media Queires stops at 466px */