@font-face {
    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/marcellus/v13/wEO_EBrOk8hQLDvIAF81VvoK_kgXiQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --backgroundColor1: #212221;
    --backgroundColor2: #44449B;
    --backgroundColor3: #1181b2;
    --backgroundColor4: #ddedf4;
    --navBar: white;
    --titleColor: black;
    --footerColor: white;
    --buttonColor: hsl(26, 73%, 57%);
    --boxShadow: grey;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 5px;
    font-family: 'Marcellus', serif;
}

body {
    background-color: var(--backgroundColor4);
    min-height: 100vh;
}

/* Header Section containing logo, title and navigation links */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--navBar);
}

.logo-title {
    display: flex;
    align-items: bottom;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    flex-grow: 1;
}

.span-1 {
    font-size: 3em;
}

.span-2 {
    font-size: 2em;
}

.nav-links a {
    font-size: 2em;
}

/* Hero Section containing message */
.container-hero-awards {
    display: flex;

}

.hero {
    background-color: var(--backgroundColor1);
    text-align: center;
    color: whitesmoke;
    flex: 1;
}

.hero h2, p {
    font-size: 2em;
}

/* Awards Section containing message and award icons*/
.awards {
    background-color: var(--backgroundColor3);
    flex: 1;
    text-align: center;
    color: var(--buttonColor);
    font-size: 1.5em;
}

/* Headhunter Section containing images, job titles and names */
.container-images {
    background-color: var(--backgroundColor2);
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.job {
    font-size: 1.5em;
}

.name {
    font-size: 1.5em;
    color: var(--buttonColor);
}

.profile-image{
    max-width: 200px;
    max-height: 300px;
}

/* Sign-up and Login Sections */


/* New Resume Section and New Job Listings */
.resume-title, .new-job-list-title {
    text-align: center;
    margin-top: 20px;
    font-size: 3em;
}

.resume, .new-job-list {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 100px 100px;
    background-color: var(--backgroundColor2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1.0);
    color: white;
    font-size: 1.5em;
}

.resume label, .new-job-list label {
    display: block;
    font-weight: 600;

}

.resume input, .new-job-list input {
    font-size: 20px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
}

.resume textarea, .new-job-list textarea {
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
}

.resume button, .new-job-list button {
    background-color: var(--buttonColor);
    color: white;
    font-size: 1.25em;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1.0);
    ;
}

/* Footer Section containing group name */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    font-size: 1.5em;
    color: var(--buttonColor);
    position: absolute;
    width: 100%;
    height: 60px;
}

/* Media Query for Responsive Behavior max-width 1200px */
@media (max-width: 1200px) {

}

/* Media Query for Responsive Behavior max-width 1024px */
@media (max-width: 1024px) {

}

/* Media Query for Responsive Behavior max-width 768px */
@media (max-width: 768px) {

}

/* Media Query for Responsive Behavior max-width 480px */
@media (max-width: 480px) {

}